<%= form_for @book do |f|%>

<% if @book.errors.any? %>
<p>エラーが発生しました</p>
<% @book.errors.full_messages.each do |message| %>
<p style="color: red;"><%= message%></p>
<% end %>
<% end %>

<p>
  <%= f.label :title %>
  <%= f.text_field :title %>
</p>
<p>
  <%= f.label :isbn %>
  <%= f.text_field :isbn %>
</p>
<p>
  <%= f.label :price %>
  <%= f.number_field :price %>
</p>
<p>
  <%= f.submit "保存" %>
</p>
<% end %>
